@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #135bec;
  --color-success: #10b981;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-success: var(--color-success);
  --color-background-light: var(--color-background-light);
  --color-background-dark: var(--color-background-dark);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.fill-1 {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-tap-highlight-color: transparent;
}
